/// ====================================================================
/// ==  @align  ==
/// ====================================================================

align($axie, $position = relative)
  position: $position

  if $axie == x
    left: 50%
    transform: translateX(-50%)
  // end-h

  if $axie == y
    top: 50%
    transform: translateY(-50%)
  // end-v

  if $axie == c
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
  // end-c
// end-align
