/**
 * ====================================================================
 * ==  @base  ==
 * ====================================================================
 */

body {
  font-size: var(--base-size);

  & * {
    margin: 0;
    padding: 0;
  } /* end-all */
} /* end-body */

ul {
  list-style: none;
}
