/**
 * ====================================================================
 * ==  @hero  ==
 * ====================================================================
 */

.hero
  align(c)

  background-color: $light-gray
  border-radius: em(8)

  padding: $base-margin
  text-align: center

  width: em(480)

  header
    margin-bottom: $base-margin
  // end-header

  section
    margin-bottom: $base-margin
    text-align: left

    .list
      list-style: disc
      margin-left: em(20)
    // end-list
  // end-section
// end-hero
