/// ====================================================================
/// ==  @colors  ==
/// ====================================================================

// Light & Dark
$light = #FFFFFF
$dark = #333333

// Grays
$gray = #CCCCCC
$light-gray = #EEEEEE
$dark-gray = #999999

// Hue
$red = tint(red, 20)
$blue = tint(blue, 20)
$green = tint(green, 20)
