/// ====================================================================
/// ==  @config  ==
/// ====================================================================

// Sizes
$golden = 1.618
$base-margin = em(16 * $golden)
