<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>HF Yeoman Fullstack Generator</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="lib/normalize-css/normalize.css">
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <div class="hero">
        <header>
          <h1>Yeoman Fullstack Generator</h1>
        </header>

        <footer>
          <p>Crafted by folks at <a href="https://hiddenfounders.com">Hidden Founders</a>.</p>
        </footer>
      </div> <!-- end-hero -->
    </div> <!-- end-container -->

    <!-- build:js scripts/vendor.js -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
